[submodule "wp-content/plugins/dgwltd-site"]
	path = wp-content/plugins/dgwltd-site
	url = git@github.com:dogwonder/dgwltd-plugin.git
[submodule "wp-content/themes/dgwltd"]
	path = wp-content/themes/dgwltd
	url = git@github.com:dogwonder/dgwltd-theme.git
[submodule "wp-content/plugins/content-filter"]
	path = wp-content/plugins/content-filter
	url = git@github.com:dogwonder/content-filter.git
