
//CTA block
.dgwltd-block--cta {


    .dgwltd-cta__content {
      text-align: left;
    }


    &.has-image {
      .dgwltd-cta__inner {
        display: flex;
        flex-direction: column;
        padding:var(--gap-large) var(--gap-medium);
        @include mq($from: md) {
          flex-direction: row;
          justify-content: space-between;
          padding:var(--gap-80) var(--gap-medium);
        }
      }
      .dgwltd-cta__image {
        @include mq($from: md) {
          flex-basis: 50%;
        }
        margin: 0;
        .frame {
          @include mq($until: md) {
            width:100%;
            margin:0 auto 2rem;
          }
          display: flex;
          aspect-ratio: 4/3;
        }
        img {
          //For the LQIP
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .dgwltd-cta__content {
        padding: var(--gap-medium) 0;
        p {
          @extend %dgwltd-body-m;
        }
        @include mq($from: md) {
          text-align: left;
          flex-basis: 50%;
          padding: 0 var(--gap-large) 0 0;
        }
      }


    }
    
    .dgwltd-button {
      margin:0;
    }

  
    //Reversed
    &[data-state='reversed'] {
      .dgwltd-cta__inner {
        flex-direction: column-reverse;
        @include mq($from: md) {
          flex-direction: row-reverse;
        }
      }
      .frame {
        @include mq($until: md) {
          margin:0 auto 2rem;
        }
      }
      .dgwltd-cta__image {
        &.transform {
          align-items: flex-start;
          @include mq($from: md) {
            transform: rotate(5deg); 
          }
        }
      }
      .dgwltd-cta__content {
        @include mq($from: md) {
          padding: 0 0 0 var(--gap-large);
        }
      }
    }
  
  }