
//Hero block
.dgwltd-block--feature {

    &.has-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color:var(--footer);
      grid-column: 1 / span 3 !important;
      padding:0 !important;
      h2 {
        @extend %dgwltd-heading-xl;
        margin-bottom:var(--gap-30);
      }
      h2, h3, p, .govuk-body {
        color:inherit;
      }
      .dgwltd-feature__wrapper {
        position: relative;
        z-index:2;
        display: grid;
        //Then create a subgrid
        grid-template-columns: 1fr minmax(min-content, var(--containerWidth)) 1fr;
        .dgwltd-feature__inner {
          //Snap back to our container
          grid-column: 2 / span 1;
          padding:var(--gap-40) var(--gap-20);
        }
      }
    }

    &.has-overlay {
      h2, h3, p, .govuk-body {
        color: white;
      }
    }
    
     
  }