//Gallery
.wp-block-gallery {
    margin-bottom: 0;
    ul.blocks-gallery-grid {
        padding: 0;
        margin: 0;
        width:100%;
    }
    figure {
        @extend %frame;
    }
    &.columns-2  {
        figure {
            --x: 1;
            --y: 1;
            aspect-ratio: 1/1;
        }
        .blocks-gallery-item {
            width: calc((100% - 20px)/2);
            margin: 0 20px 20px 0;
            @include mq($from: desktop) {
                width: calc((100% - 30px)/2);
                margin: 0 30px 30px 0;
            }
            &:nth-of-type(2n) {
                margin-right:0;
            }
        }
    }
}

//Fix for aspect ratio differences between iphone and x100s
.pswp__img {
    width: auto !important;
}