.govuk-cookie-banner {
  .govuk-button {
      border: 2px solid var(--button-background);
      background-color: var(--button-background);
      &:focus, &:hover {
        border-color: var(--button-hover);
        background-color: var(--button-hover);
      }
  }
}

//If cookies not accepted hide the iframe
iframe[data-src] {
  height:0;
}