//Vars
$nav-height: 64px;

//Skip link
.govuk-skip-link:link, 
.govuk-skip-link:focus {
  color: black !important;
  text-decoration: underline;
}

//Masthead
.dgwltd-masthead {
  margin: 0;
  padding: 0;
  z-index: 9999;
  background-color: var(--background);
  .logo {
    width: toRem(44);
    height: toRem(44);
    padding-right: var(--gap-small);
    margin-right: var(--gap-small);
  }
}

//Overlay
.dgwltd-wrapper {
  height: 100vh;
  &:before {
    content: "";
    position: absolute;
    z-index: $z-highest-1; 
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s cubic-bezier(.24,.26,.2,1),opacity .25s cubic-bezier(.24,.26,.2,1);
  }
}

.dgwltd-masthead-container {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //Width
  width:100%;
  padding: var(--gap-small) var(--gap-medium);

  //Logo
  .dgwltd-masthead__logo {
    line-height: 1;
    @include mq($until: lg) {
      flex: 1;
    }
    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
      &:focus {
        box-shadow: none;
        background-color: transparent;
      }
    }

    svg {
      width: 60px;
      height: auto;
      margin:0 var(--gap-medium) 0 0;
      &.logo {
        fill: black;
      }
    }
  }

}

.dgwltd-nav {
  z-index: $z-low;
  display: flex;
  
  .dgwltd-menu {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    @include mq($from: lg) {
      flex: 1;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .menu-item {
      list-style-type: none;
      @extend %dgwltd-navigation;
      line-height: 1;
      text-align: left;
      position: relative;
      padding: 0;
      margin: 0 0 var(--gap-small);
      @include mq($until: lg) {

        &.current-menu-item > a, 
        &.current-page-ancestor > a {
          width: calc(100% - 80px) !important;
        }
        .button-show-subnav {
          position: absolute;
          height: 50px;
          width: 80px;
          right: 0;
          top: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          appearance: none;
          border: 0;
          background-color: transparent;
          padding: 0;
          &:after {
            //Chevron down
            content: "";
            display: block;
            box-sizing: border-box;
            width: 0;
            height: 0;
            width: 1ex;
            height: 1ex;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: rotate(45deg);
            margin: 0 auto;
          }
          &[aria-expanded="true"] {
            &:after {
              border-bottom: transparent;
              border-right: transparent;
              border-top: 3px solid #fff;
              border-left: 3px solid #fff;
            }
          }
          @include mq($until: lg) {
            justify-content: center;
            &:before {
                content: "";
                display: block;
                border-radius: 50%;
                border: 1px solid #fff;
                width: 40px;
                height: 40px;
            }
            &:after {
              position: absolute;
              top: 17px;
              right: 34px;
            }
            &[aria-expanded="true"] {
              &:after {
                top: 21px;
              }
            }
          }
          a {

          }
          span {
            display: none;  
          }
          
        }
      }
      @include mq($from: lg) {
        line-height: toRem(60);
        margin: 0 var(--gap-small) 0 0;
        .button-show-subnav {
          display: none;
        }
         //A11y menu active state
        .button-show-subnav:focus {
          position: relative;
          top: 100%;
        }
      }
      &:first-of-type {
        @include mq($from: lg) {
          a {
            padding-left: 0;
          }
        }
      }
      &:last-of-type {
        margin: 0;
      }
      a {
        display: inline-block;
        text-decoration: none;
        padding:var(--gap-15) var(--gap-medium);
        color: white;
        width: 100%;
        @include mq($from: lg) {
          padding:0 var(--gap-medium);
          color: var(--text-color);
          padding:0 var(--gap-small);
          margin:0;
        }
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          border: 0;
          background-color: transparent;
          box-shadow: none;
          text-decoration: underline;
          outline: 0;
          color: white !important;
          text-decoration-color: white !important;
          @include mq($from: lg) {
            color: var(--text-color) !important;
            text-decoration-color: var(--azul) !important;
          }
        }
      }


      // Use a different one to .current-menu-item so we can toggle it in the mobile view
      &.current_page_item, 
      &.current_page_ancestor {
        > a {
          text-decoration: underline;
        }
      }

      &.menu-item-has-children {
        @include mq($from: lg) {
          display: flex;
          align-items: center;
          > a {
            padding-right:0;
            margin-right:0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:after {
              //Chevron down
              content: "";
              display: block;
              box-sizing: border-box;
              width: 0;
              height: 0;
              width: 0.8ex;
              height: 0.8ex;
              border-bottom: 2px solid;
              border-right: 2px solid;
              transform: rotate(45deg);
              margin-left: var(--gap-small);
              margin-top: -0.4ex;
            }
          }
        }
      }

      //With JS - see a11yMenu()
      //Hover/Click method (including class name for JS to target)
      &.menu-item-has-children.menu-open {
        .sub-menu {
          display: block;
          @include mq($from: lg) {
            display: flex;
          }
        }
      }

      //We don't want hover events on smaller screens
      &.menu-item-has-children:focus-within,
      &.menu-item-has-children:hover {
        .sub-menu {
          @include mq($from: lg) {
            display: flex;
            transition-delay: 0s; /* react immediately on hover */
          }
        }
      }

      &.menu-item-has-children.menu-open {
        //a11y menu for opening menu via button
        @include mq($from: lg) {
          .sub-menu {
            opacity: 1;
            visibility: visible;
            transition-delay: 250ms;
          }
        }
      }

      //If current menu open the sub-menu on mobile
      &.menu-item-has-children.current-menu-item, 
      &.menu-item-has-children.current-menu-ancestor {
        .sub-menu {
          @include mq($until: lg) {
            display: block;
          }
        }
      }

    }

    //Sub menu
    .sub-menu {
      display: none;
      @include mq($until: lg) {
        margin: var(--gap-small) 0 var(--gap-medium) var(--gap-small);
        li {
          line-height: var(--wp--custom--typography--line-height--small);
          margin: 0;
        }
      }
      @include mq($from: lg) {
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: visibility .25s cubic-bezier(.24,.26,.2,1),opacity .25s cubic-bezier(.24,.26,.2,1);
        z-index: $z-high;
        position: absolute;
        left: auto;
        right: 0;
        top: 100%;
        margin:0;
        padding:0;
        width: auto;
        background-color: white;
        min-width: 24rem;
        .menu-item {
          @include mq($from: lg) {
            line-height: 1;
            a {
              padding: var(--gap-small);
              display: block;
            }
          }
        }
      }
    }

  }

}

//Navigation Toggle
.nav-toggle {
  margin: 0 0 0 auto;
  padding: 0;
  display: none;
  box-shadow: none;
  font-weight: bold;
  background-color: transparent;
  border:0;
  width: 44px;
  height: 44px;
  &:hover {
    background-color: transparent;
  }
  svg {
    width: toRem(40);
    height: toRem(40);
    margin-left:auto;
    &.close {
      stroke: var(--text-color);
      stroke-width: 50;
    }
  }

}


//Attempt at fixing Cumulative Layout Shift issue with menu before JS kicks in
.no-js {

  .dgwltd-masthead {
    /* browser decide if x is ok to scroll and show bars on, y hidden */
    overflow: auto hidden;
    /* prevent scroll chaining on x scroll */
    overscroll-behavior-x: contain;
    /* scrolling should snap children on x */
    scroll-snap-type: x mandatory;
    
    @media (hover: none) {
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  
    .dgwltd-nav {
      display: flex;
      /* defend against <main> needing 100% */
      flex-shrink: 0;
      /* fixes cross browser quarks */
      min-block-size: fit-content;
    }
  }

  
}

//JS progressive enhancement
.js-enabled {

  //Desktop menu is open
  &.masthead-expanded {
    .dgwltd-wrapper {
      position: relative;
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }
    .sub-menu {
      z-index: $z-highest;
    }
  }

  //Mobile menu is open
  &.nav-open {
    .dgwltd-wrapper {
      position: relative;
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }
  }


  .dgwltd-nav__wrapper { 
    //Cumulative Layout Shift fix - hide the menu if JS is enabled to avoid layout shift, maybe becuase ResizeObserver is too slow? 🤷
    display: none;  
    @include mq($from: lg) {
      display: flex;  
      width: 100%;
    }
  }

  .dgwltd-masthead {
  
    //If we are in the mobile view (<769px), we need to show the burger menu
    &[enabled="true"] {

      .dgwltd-nav {
        align-items: center;
      }

      .nav-toggle { 
        display: block; 
        .open {display: block;}
        .close {display: none;}
      }    

      .dgwltd-nav__wrapper { 
        display: none;  
        content-visibility: hidden;
        position: absolute;
        width: 100%;
        top: 90px;
        left: 0;
      }

      //If the status is open and the menu is not visible, show the menu
      [status="open"] { 

      }
      
    }

    //Switch the menu icons
    &.masthead-is-open {
      z-index: $z-highest;
      position: relative;
      background-color: black;
      .dgwltd-nav__wrapper {
        content-visibility: visible;
        display: block;
        .dgwltd-menu, 
        .dgwltd-menu-language {
          display: flex;
        }
        .dgwltd-menu-language {
          margin: var(--gap-medium);
        }
      }
      .dgwltd-masthead__logo svg.logo {
          fill: white;
      }
      .nav-toggle svg.close {
        stroke: white;
      }
      .nav-toggle {
        position: relative;
        z-index: $z-highest;
        .open {display: none;}
        .close {display: block;}
      }
    }

    &[enabled="false"] { 
      
    }

  }

}

//Languages
.dgwltd-menu-language {
  list-style-type: none;
  display: flex;
  margin: 0 var(--gap-small);
  @include mq($until: lg) {
    display: none;  
    margin: var(--gap-medium) var(--gap-medium) 0 0;
  }
  li {
    @extend %dgwltd-navigation;
    line-height: 1;
    position: relative;
    padding: 0;
    margin: 0 var(--gap-small) 0 0;
    display: inline-block;
    @include mq($from: lg) {
      line-height: toRem(60);
      margin: 0 var(--gap-5) 0 0;
    }
    .active {
      color: white;
      @include mq($from: lg) {
        color: var(--text-color);
      }
    }
    a {
      color: var(--border);
      text-decoration: none;
      &:hover {
        color: var(--text-color);
        text-decoration: underline; 
      }
      &:focus {
        border: 0;
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
        outline: 0;
        color: white !important;
        text-decoration-color: white !important;
        @include mq($from: lg) {
          color: var(--text-color) !important;
          text-decoration-color: var(--azul) !important;
        }
      }
    }
    &:after {
      content: "/";
      color: var(--button-disabled);
      @include mq($from: lg) {
        color: var(--border);
      }
      display: inline-block;
      margin-left: 5px;
    }
    &:last-of-type {
      margin: 0;
      &:after {
        display: none;
      }
    }
  }
}