//Sticky footer
@media only screen and (min-width: 64rem) {
  .dgwltd-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.dgwltd-container {
  //We need this for IE11 to respect, flex:1 won't work on it's own
  flex: 1 0 auto;
  position: relative;
}

//Page layout
.dgwltd-content-wrapper {
  padding:0;
  max-width: 100%;
  .entry-header, 
  .entry-content, 
  .entry-footer {
    //Allows for full width sections 
    display: grid;
    grid-template-columns: 0 minmax(min-content, var(--containerWidth)) 1fr;
    > * {
      grid-column: 2 / span 1;
      padding: 0 var(--gap-medium);
    }
  }
  .entry-content {
    //Alignment
    .alignfull {
      max-width: 100%;
      grid-column: 1 / span all !important;
      padding: 0;
      &.wp-block-image {
        margin: 0;
      }
    }
    .alignwide {
      grid-column: 1 / span all !important;
      width: 100%;
      max-width: var(--containerWidth);
      margin: 0 auto;
    }
  }
}

//Custom lists
.entry-content {
  > ul {
    @extend %list;
  }
}

//Exceptions
.dgwltd-post {
  .entry-header:has(.entry-meta) {
    .entry-title {
      margin-bottom: var(--gap-small);
    }
  }
}