//For lists blogs / team etc
.dgwltd-list {
  .dgwltd-list__item {
    margin: 0 0 var(--gap-medium);
    padding-bottom: var(--gap-medium);
    border-bottom: 1px solid var(--border);
    &:last-child {
      border: 0;
    }
  }
  //Furniture
  .dgwltd-list__content {
    flex: 1;
    order: 2;
    @include mq($from: md) {
      order: 1;
    }
  }
  .dgwltd-list__figure {
    flex: 0 1 100%;
    order: 1;
    margin: 0 0 var(--gap-medium) 0;
    @include mq($from: md) {
      order: 2;
      flex: 0 1 30%;
      margin: var(--gap-medium) 0 0 var(--gap-medium);
    }
    .post-thumbnail {
      display: block;
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  //Details
  .dgwltd-list__title {
    margin: 0 0 var(--gap-small);
  }
  .dgwltd-list__meta {
    .posted-on {
      margin-right: var(--gap-medium);
    }
  }
  .dgwltd-button {
    text-decoration: none;
  }
}
