//These are custom block sections to allow block background colors
.dgwltd-full-container {
    .dgwltd-section {
        //Bump it out to full width
        padding:0 !important;
        grid-column: 1 / span 3 !important;
        display: grid;
        //Then create a subgrid
        grid-template-columns: 1fr minmax(min-content, var(--containerWidth)) 1fr;
        .wp-block-cover__inner-container, 
        .dgwltd-section__inner {
            //Snap back to our container
            width: 100%;
            grid-column: 2 / span 1;
            padding: var(--gap-medium);
            @include mq($from: lg) {
                padding: var(--gap-large) var(--gap-medium);
            }
        }
    }
}
