html { font-family: var(--body), Helvetica, Arial, sans-serif; }

//Global
html {
  font-size: 100%;
}

body {
  font-family: var(--body);
  font-weight: normal;
  font-size: var(--wp--preset--font-size--normal); //18px
  line-height: var(--wp--custom--typography--line-height--medium);
  letter-spacing: 1rem * 0.02;
  word-spacing: 1rem * 0.04;
  text-align: left;
  background-color: var(--background);
  color: var(--text);
  overflow-y: scroll;
  overflow-x: hidden;
}

//Line heights
// "tiny": 1.15,
// "small": 1.2,
// "medium": 1.4,
// "normal": 1.6

//TODO fluid typraphy
// "font-size": {
//   "huge": "clamp(2.25rem, 4vw, 2.75rem)",
//   "gigantic": "clamp(2.75rem, 6vw, 3.25rem)",
//   "colossal": "clamp(3.25rem, 8vw, 6.25rem)"
// },

//Based on base size of 16px and 1.333 type scale - https://type-scale.com

//Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--wp--preset--font-family--soehne-dreiviertelfett);
  line-height: 1;
  margin: 0;
  margin-bottom: var(--wp--custom--spacing--baseline);
}

//Usage @extend %dgwltd-heading-m;
%dgwltd-heading-xl,
.dgwltd-heading-xl,
h1 {
  // clamp(2.369rem,1.9937619048rem + 1.8761904762vw,3.157rem)
  font-size: clampCalc($type-extra-large, $type-huge, sm, lg);
  line-height: var(--wp--custom--typography--line-height--tiny);
  margin-bottom: var(--gap-large);
  letter-spacing: 0.0125em;
}

%dgwltd-heading-l,
.dgwltd-heading-l,
h2 {
  // clamp(1.777rem,1.4950952381rem + 1.4095238095vw,2.369rem)
  font-size: clampCalc($type-large, $type-extra-large, sm, lg);
  line-height: var(--wp--custom--typography--line-height--tiny);
  margin-bottom: var(--gap-medium);
  letter-spacing: 0.0125em;
}

%dgwltd-heading-m,
.dgwltd-heading-m,
h3 {
  // clamp(1.333rem,1.1215714286rem + 1.0571428571vw,1.777rem)
  font-size: clampCalc($type-medium, $type-large, sm, lg);
  line-height: var(--wp--custom--typography--line-height--small);
  margin-bottom: var(--gap-small);
  letter-spacing: 0;
}

%dgwltd-heading-s,
.dgwltd-heading-s,
h4 {
  // clamp(1.125rem,1.025952381rem + .4952380952vw,1.333rem)
  font-family: var(--wp--preset--font-family--soehne-halbfett);
  font-size: clampCalc($type-normal, $type-medium, sm, lg);
  line-height: var(--wp--custom--typography--line-height--medium);
  margin-bottom: var(--gap-small);  
}

%dgwltd-heading-xs,
.dgwltd-heading-xs,
h5,
h6 {
  font-family: var(--wp--preset--font-family--soehne-halbfett);
  font-size: var(--wp--preset--font-size--normal);
  line-height: var(--wp--custom--typography--line-height--medium);
  margin-bottom: var(--gap-small);
}

%dgwltd-body,
.dgwltd-body, 
.govuk-body, 
p {
  font-weight: normal;
  margin-bottom: var(--gap-medium);
}

%dgwltd-body-l,
.dgwltd-body-l {
  font-size: clampCalc($type-medium, $type-large, sm, lg);
  line-height: var(--wp--custom--typography--line-height--small);
  margin-bottom: var(--gap-medium);
}


%dgwltd-body-m,
.dgwltd-body-m {
  font-size: clampCalc($type-normal, $type-medium, sm, lg);
  line-height: var(--wp--custom--typography--line-height--medium);
  margin-bottom: var(--gap-medium);
}

%dgwltd-body-s,
.dgwltd-body-s {
  font-size: var(--wp--preset--font-size--small);
  line-height: var(--wp--custom--typography--line-height--medium);
  margin-bottom: var(--gap-small);
}

%dgwltd-body-xs,
.dgwltd-body-xs {
  font-size: var(--wp--preset--font-size--tiny);
  line-height: var(--wp--custom--typography--line-height--medium);
}

%dgwltd-navigation,
.dgwltd-navigation {
  font-family: var(--wp--preset--font-family--soehne-halbfett);
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1;
} 

ul,
ol {
  padding-left: 0;
  list-style-position: outside;
}

blockquote p {
  hanging-punctuation: first;
  text-indent: -5px;
}
