//Accessibility

//Text meant only for screen readers
.screen-reader-text, //need for wordpress
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}

//Skip link
.skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}

//SVGs
.defs-only {
	position: absolute;
	height: 0; width: 0; 
	left: -100%;
}

//Add a little margin (2 x x-height) to jump links - https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted
[id] {
  scroll-margin-top: 2ex;
}

//Container
%container, 
.container {
  //Wrapper utility https://piccalil.li/quick-tip/use-css-clamp-to-create-a-more-flexible-wrapper-utility
  //90vw is the ideal with 16rem (256px) as min and 70rem (1120px) as max
  width: 100vw;
  width: clamp(16rem, 100vw, var(--containerWidth));
  max-width: 100%; //override gov.uk
  position: relative;
  margin: 0 auto;
  padding: var(--gap-20);
}

//Aspect ratio
%frame, 
.frame {
  --x: 3;
  --y: 2;
  aspect-ratio: 3/2;
  padding-bottom: calc((var(--y) / var(--x)) * 100%);
  position: relative;
  > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > img,
  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .dgwltd-card__image {
    display: block;
  }
  .frame > * {
    position: relative;
  }
}

//Background image
.block__background {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  figure {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  img {
    //For the LQIP
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

//Alignment
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

//Alerts
.alert {
  padding:1rem;
  border-radius: 0.5rem;
  background-color: var(--border-light);
  color: var(--text-color);
  display: flex;
  .alert__icon {
    width: 40px;
    height:40px;
    margin-top:0.5rem;
  }
  .alert__message {
    flex: 1;
    padding-left: var(--gap-10);
    > * {
      color:inherit;
    }
  }
  &.warning {
    background-color: rgb(255, 251, 235);
    color: rgb(146, 64, 13);
  }
  &.error {
    background-color: rgb(254, 242, 242);
    color:rgb(153, 27, 26);
  }
  &.success {
    background-color: rgb(236, 253, 245);
    color: rgb(6, 95, 70);
  }
}


//Badge
%tag,
.tag {
  text-decoration: none !important;
  border-radius: 9999px;
  color: #252f3f;
  background-color: var(--alt);
  padding:.25rem .625rem;
  font-size:14px;
}

a.tag {
  &:hover {
    background-color: var(--active);
  }
}

//Last item
.last {
  margin:0 !important;
}

//Block heights
$heights: (
  "100": 100vh,
  "90": 90vh,
  "80": 80vh,
  "70": 70vh,
  "60": 60vh,
  "50": 50vh,
  "40": 40vh,
  "30": 30vh,
  "20": 20vh
);

@each $value, $height in $heights {
  .height--#{$value} {
    min-height: calc(#{$height} - 64px) !important;
  }
}

//oEmbed responsive
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}