<nav id="site-navigation" class="main-navigation dgwltd-nav" aria-label="primary">
  <div class="dgwltd-nav__wrapper">
    <ul>
    {%- for menu in menusHeader -%}
      <li>{{ menu.label }}</li>
    {%- endfor -%}
    </ul>
  </div>
</nav>