{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%- block htmlTitle %}Default Title{%- endblock %}</title>
  </head>
  <body>
    {% include "partials/site-header.njk" %}
    {% block content %}
          This is content
    {% endblock %}
    {% include "partials/site-footer.njk" %}
  </body>
</html>